

.service-icon {
    max-width: 60px;
}

.image_margin{
    margin-left: 200px;
}


.border{
    border: 1px solid black;
}

.dropdown-toggle::after { 
    content: none; 
    }


@media (min-width: 990px) {
    .dropdown:hover .dropdown-menu{
        display: block;
        margin-top: 0;
    }
}

.dropdown-toggle:hover{
    color:#0076be;
   
}

